* {
    font-family: Roboto, sans-serif;
    color: #333;
}

body{
    background: #edf0f2;
}

#app {
    padding: 25px;
}

input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
}

form button{
    background: #43bc70;
    padding: 8px 12px;
    font-size: 16px;
    border: 0;
    color: #fff;
    border-radius: 3px;
}

#lista button{
    background: transparent;
    font-size: 14px;
    border: 0;
    color: red;
    
}